.tags*
.cscope*

lepton-conf
lepton-conf.exe
geda.conf
*.wip.c
*.wip.c.BCK
*.vim
*.patch
*.diff
t0_*
wip
*.o
build
builddir

Makefile
Makefile.in

aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
depcomp
install-sh
missing
.deps
.libs

config.guess
config.sub
libtool
ltmain.sh

